.header{
    float: left;
    height: 100%;
    display: table;
    padding: 0px 20px;
    background-color: #101010;
}
.header a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}
.header h1{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}
.header a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.header a li:hover{
    background-color: gray;
    color: #101010;
}
